// AgGridStyles
.ag-row-deleted {
  background-color: #333;       // 배경색: 검은색
  color: #fff;                 // 텍스트 색: 흰색
}
.ag-row-deleted .ag-cell {
  text-decoration: line-through; /* 텍스트에 선 긋기 */
}

.ag-row-default {
  text-decoration: none;       // 기본 텍스트 스타일
  background-color: transparent; // 배경색 없음
  color: inherit;              // 기본 텍스트 색상
}

.ag-row-updated {
  background-color: #ffeeba; /* 연한 노란색 배경 */
}

.ag-header-cell-label {
  justify-content: center;
}