.attachmentModal {
  max-width: 1800px;
  max-height: 1000px;
  width: 100vw;
  height: 90vh;

  @media (max-width: 800px) {
    width: 85vw;
    height: 85vh;
  }

  @media (max-width: 700px) {
    width: 80vw;
    height: 80vh;
  }

  @media (max-width: 600px) {
    width: 90vw;
    height: 90vh;
  }

  @media (max-width: 500px) {
    width: 95vw;
    height: 95vh;
  }
}

.customListItem {
  padding-top: 16px;
  padding-bottom: 16px;
}