.dropdown {
  &:hover {
    & > .dropdown-menu {
      display: block;
    }
  }
  .dropdown-menu {
    margin-top: 0;
    & > .nav-link {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 180px;
    }
    .dropdown-menu {
      left: 100%;
      top: 0;
    }
  }
}

.depth-1 {
  z-index: 1000;
}
.depth-2 {
  z-index: 999;
}
.depth-3 {
  z-index: 998;
}
.depth-4 {
  z-index: 997;
}
