HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Gradle 작업 디렉터리 및 캐시 파일 무시
.gradle/
build/

# Gradle 파일 중 특정 파일 무시 (선택 사항)
.gradle/**/buildOutputCleanup.lock
.gradle/**/executionHistory.bin
.gradle/**/executionHistory.lock
.gradle/**/checksums.lock