body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


// 기본 전체 레이아웃 스타일 커스텀텀
.container-fluid.container_bg {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #f4f4f6;
    z-index: -1;
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 146px;
    top: 0;
    left: 0;
    background-color: #001C54;
    z-index: -1;
  }
  .container_title {
    display: flex;
    height: 66px;
    padding: 0 20px;
    align-items: center;
    h2 {margin-bottom: 0; font-size: 20px; font-weight: bold; color: #fff;}
  }
  .container_contents {
    width: calc(100% - 40px);
    height: calc(100% - 86px);
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    .menutree_wrap {
      padding: 20px;
      border: 1px solid #ddd;
    }
    .contents_wrap {
      padding: 0 0 0 20px;
      overflow: auto;
    }
  }
}