body {
  min-width: 1080px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


// 기본 전체 레이아웃 스타일 커스텀
.container-fluid.container_bg {
  position: relative;
  padding: 0;
  .row, div[class*="col"]:not([class*="offset"]) {padding-left: 0; padding-right: 0; margin-left: 0; margin-right: 0;}
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #f4f4f6;
    z-index: -1;
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 146px;
    top: 0;
    left: 0;
    background-color: #001C54;
    z-index: -1;
  }
  .container_title {
    display: flex;
    height: 66px;
    margin: 0;
    padding: 0 20px;
    align-items: center;
    h2 {margin-bottom: 0; font-size: 20px; font-weight: bold; color: #fff;}
  }
  .container_contents {
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    height: calc(100% - 86px);
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    gap: 20px 0;
    flex: unset;
    &.divide {
      flex-direction: row;
      gap: 0 20px;
    }
    .search_wrap {
      gap: 0 20px;
      .search_cnt {
        width: calc(100% - 100px);
        flex: unset;
        &>div.row {align-items: center; gap: 10px 0;}
        div.cnt_group {
          display: flex; align-items: center; width: 25%; flex: unset;
          label + div {width: calc(100% - 100px);}
          select.form-select, input {width: 100%;}
        }
        label.form-label {width: 100px; padding: 0 0 0 10px; font-size: 14px;}
        select.form-select, input {width: 220px; height: 30px; padding: 0 12px; font-size: 14px;}
      }
      .search_btn {
        width: 80px;
        flex: unset;
        button.btn {
          width: 100%; height: 30px; background-color: #001C54; border: none;
          &:hover {background-color: #011D49;}
        }
      }
    }
    .search_wrap + .contents_wrap {
      // height: calc(100% - 50px);
      padding-top: 20px;
      border-top: 1px dashed #ddd;
    }
    .menutree_wrap {
      // 좌측 메뉴트리
      width: 300px;
      padding: 20px;
      border: 1px solid #ddd;
      flex: unset;
      overflow: auto;
      &> div > .container > .list-unstyled-item > .list-group-item > .list-item {
        &::before, &::after {display: none;}
      }
      .list-group-item {
        &:first-child {
          // border: 1px solid #000;
          &>.list-item::after {
            height: 20px;
            top: -9px;
          }
        }
        .list-item::before {
          content: "";
          position: absolute;
          width: 15px;
          height: 1px;
          background-color: #ddd;
          top: 50%;
          left: -25px;
        }
        .list-item::after {
          content: "";
          position: absolute;
          width: 1px;
          height: 32px;
          background-color: #ddd;
          top: -20px;
          left: -25px;
        }
      }
      .list-item {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        span.tree_polygon {
          display: flex;
          width: 28px;
          height: 24px;
          padding-left: 6px;
          align-items: center;
          img {}
        }
        &[style*="color: blue"] {color: #39B1BD !important; font-weight: bold;}
        & + .container {
          .list-group-item {margin-top: 10px;}
        }
        span {font-size: 14px;}
      }
    }
    .menutree_wrap + .contents_wrap {
      width: calc(100% - 320px);
    }
    .contents_wrap {
      // 컨테츠영역
      width: 100%;
      padding: 0;
      overflow: auto;
      &> .container-fluid {padding: 20px 0;}
      .cnt_title {margin: 0; font-size: 20px; font-weight: bold;}
      form {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        gap: 20px;
        .form_group {
          display: flex; gap: 0 20px;
          label.form-label {padding: 0; font-size: 14px;}
          input.form-control {
            height: 30px; min-height: 30px; font-size: 14px;
            &:disabled {background-color: #E9ECEF; color: #999;}
            &:focus {box-shadow: unset; border-color: #034EA2;}
          }
          button.btn {height: 30px; padding: 0 12px; font-size: 14px;}
          .btn_wrap button.w-100 {
            margin-left: 20px;
          }
        }
      }
    }
    // 
    select.form-select, input {
      &:focus {box-shadow: none; border-color: #034EA2;}
    }
  }
}