<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siportal.portal.mapper.AdminMapper">

    <!-- 사용자 조회 -->
    <select id="getUserByUserName" resultType="com.siportal.portal.com.result.ComResultMap">
        SELECT
        ROW_NUMBER() OVER (ORDER BY A.CREATE_DATE DESC) AS GRID_ROW_ID,
        A.USER_ID AS userId,
        A.USER_NAME AS userName,
        A.EMAIL AS email,
        A.PHONE_NUMBER AS phoneNumber,
        A.STATUS AS status,
        TO_CHAR(A.CREATE_DATE, 'YYYY-MM-DD HH24:MI:SS') AS createDate,
        C.ROLE_NAME AS roleName
        FROM P_USER A
        JOIN P_USER_ROLE B ON A.USER_ID = B.USER_ID
        JOIN P_ROLE C ON B.ROLE_ID = C.ROLE_ID
        WHERE 1=1
        <if test="userName != null and userName != ''">
            AND A.USER_NAME = #{userName}
        </if>
        ORDER BY A.CREATE_DATE DESC
    </select>

    <!-- 역할 조회 -->
    <select id="getAllRoles" resultType="com.siportal.portal.com.result.ComResultMap">
        SELECT
        ROLE_ID ,
        ROLE_NAME ,
        STATUS ,
        MENU ,
        CAN_CREATE ,
        CAN_READ ,
        CAN_UPDATE ,
        CAN_DELETE ,
        TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS CREATE_DATE
        FROM P_ROLE
    </select>

    <!-- 역할 업데이트 -->
    <update id="updateRole">
        UPDATE P_ROLE
        SET
        ROLE_NAME = #{roleName},
        STATUS = #{status},
        CAN_CREATE = #{canCreate},
        CAN_READ = #{canRead},
        CAN_UPDATE = #{canUpdate},
        CAN_DELETE = #{canDelete},
        MENU = #{menu}
        WHERE ROLE_ID = #{roleId}
    </update>

    <!-- 역할 삽입 -->
    <insert id="insertRole">
        INSERT INTO P_ROLE (ROLE_ID, ROLE_NAME, STATUS, CAN_CREATE, CAN_READ, CAN_UPDATE, CAN_DELETE, MENU)
        VALUES (#{roleId}, #{roleName}, #{status}, #{canCreate}, #{canRead}, #{canUpdate}, #{canDelete}, #{menu})
    </insert>

    <!-- 역할 삭제 -->
    <delete id="deleteRole">
        DELETE FROM P_ROLE WHERE ROLE_ID = #{roleId}
    </delete>
</mapper>
