<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siportal.portal.mapper.PortalMapper">
    <select id="getMenuTreeList" resultType="com.siportal.portal.dto.PMenuDTO">
        SELECT A.MENU_ID, A.MENU_NAME AS TITLE, A.PATH, A.COMPONENT_PATH, A.PARENT_MENU_ID
        , A.DEPTH, A.CHILD_YN
        FROM P_MENU A
        WHERE A.STATUS = 'ACTIVE'
        ORDER BY A.DEPTH, A.POSITION
    </select>

    <select id="getAllRole" resultType="java.util.Map">
        SELECT *
        FROM P_ROLE
    </select>


    <select id="getUserByUserId" parameterType="String" resultType="com.siportal.portal.dto.User">
        SELECT USER_ID, USER_NAME, EMAIL, PHONE_NUMBER, STATUS
        FROM P_USER
        WHERE USER_ID = #{userId}
        AND PASSWORD = #{password}
    </select>

    <select id="getUserByUserName" resultType="com.siportal.portal.com.result.ComResultMap">
        SELECT A.USER_ID, A.USER_NAME, A.EMAIL, A.PHONE_NUMBER
        , A.STATUS
        , TO_CHAR(A.CREATE_DATE,'YYYY-MM-DD HH24:MI:SS') AS CREATE_DATE
        , C.ROLE_NAME
        FROM P_USER A
        , P_USER_ROLE B
        , P_ROLE C
        WHERE 1=1
        AND A.USER_ID = B.USER_ID
        AND B.ROLE_ID = C.ROLE_ID

        <if test="userName != null and userName != ''">
            AND A.USER_NAME = #{userName}
        </if>
        ORDER BY A.CREATE_DATE desc
    </select>
</mapper>