<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siportal.portal.mapper.PortalMapper">

    <select id="getPageAuth" parameterType="String" resultType="com.siportal.portal.com.result.ComResultMap">
        SELECT B.CAN_CREATE, B.CAN_DELETE , B.CAN_READ, B.CAN_UPDATE
        FROM P_MENU  A
        , P_PERMISSION B
        WHERE 1=1
        AND A.MENU_ID = B.MENU_ID
        AND B.ROLE_ID = CAST(#{roleId} AS INTEGER)
        AND A.PATH = #{path}
    </select>


    <select id="getMenuTreeList" parameterType="String" resultType="com.siportal.portal.dto.PMenuDTO">
<!--        SELECT-->
<!--            A.MENU_ID-->
<!--            , A.MENU_NAME AS TITLE-->
<!--            , A.PATH-->
<!--            , A.COMPONENT_PATH-->
<!--            , A.PARENT_MENU_ID-->
<!--            , A.DEPTH-->
<!--            , A.CHILD_YN-->
<!--        FROM P_MENU A-->
<!--        WHERE A.STATUS = 'ACTIVE'-->
<!--        AND A.-->
<!--        ORDER BY A.DEPTH, A.POSITION-->

        SELECT
            A.MENU_ID
            , A.MENU_NAME AS TITLE
            , A.PATH
            , A.COMPONENT_PATH
            , A.PARENT_MENU_ID
            , A.DEPTH
            , A.CHILD_YN
        FROM P_MENU A
        , p_permission B
        WHERE 1=1
        and A.STATUS = 'ACTIVE'
        AND A.MENU_ID = B.menu_id
        and B.ROLE_ID =  CAST(#{roleId} AS INTEGER)
        ORDER BY A.DEPTH, A.POSITION
    </select>

    <select id="getAllRole" resultType="java.util.Map">
        SELECT *
        FROM P_ROLE
    </select>


    <select id="getUserByUserId" parameterType="String" resultType="com.siportal.portal.dto.User">
        SELECT A.USER_ID
            , A.USER_NAME
            , A.EMAIL
            , A.PHONE_NUMBER
            , A.STATUS
            , C.ROLE_NAME
            , A.FOOTER_YN
            , A.HEADER_COLOR
            , CAST(C.ROLE_ID AS TEXT) AS ROLE_ID
        FROM P_USER A
        , P_USER_ROLE B
        , P_ROLE C
        WHERE 1=1
        AND A.STATUS ='ACTIVE'
        AND A.USER_ID = B.USER_ID
        AND B.ROLE_ID = C.ROLE_ID
        AND A.USER_ID = #{userId}
        AND A.PASSWORD = #{password}
    </select>

    <select id="getUserByUserName" resultType="com.siportal.portal.com.result.ComResultMap">
        SELECT A.USER_ID, A.USER_NAME, A.EMAIL, A.PHONE_NUMBER
        , A.STATUS
        , TO_CHAR(A.CREATE_DATE,'YYYY-MM-DD HH24:MI:SS') AS CREATE_DATE
        , C.ROLE_NAME
        FROM P_USER A
        , P_USER_ROLE B
        , P_ROLE C
        WHERE 1=1
        AND A.USER_ID = B.USER_ID
        AND B.ROLE_ID = C.ROLE_ID

        <if test="userName != null and userName != ''">
            AND A.USER_NAME = #{userName}
        </if>
        ORDER BY A.CREATE_DATE desc
    </select>

    <update id="updateUserSettings">
        UPDATE P_USER
           SET FOOTER_YN = #{footerYn},
               HEADER_COLOR = #{headerColor},
               UPDATE_DATE = CURRENT_TIMESTAMP
         WHERE USER_ID = #{userId}
    </update>

    <select id="getUserSettings" resultType="java.util.Map">
        SELECT FOOTER_YN AS footerYn,
        HEADER_COLOR AS headerColor
        FROM P_USER
        WHERE USER_ID = #{userId}
    </select>

</mapper>